@model CentralLibrary.Models.Publication

@{
    ViewData["Title"] = "Details";
}

<h1>Publication Details</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Publication_id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Publication_id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.PublicationName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.PublicationName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Contact_No)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Contact_No)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="https://libwww.freelibrary.org/images/blog/FLPBlog/orig/digitalmedialibrary.jpg" style="border-radius : 10px; width: 100%; height: auto;" />
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
