@model CentralLibrary.Models.LibraryStaff

@{
    ViewData["Title"] = "Details";
}

<h1>Staff Details</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Staff_id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Staff_id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.StaffName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.StaffName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.address)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.address)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Contact_No)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Contact_No)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Department)
            </dd>
        </dl>

    </div>
    <div class="col-md-6">
        <img src="https://imageio.forbes.com/specials-images/imageserve/5f1b2740b1b501b470e01f05/0x0.jpg?format=jpg&width=1200" style="border-radius : 10px; width: 100%; height: auto;" />
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</div>



