@model CentralLibrary.Models.Fine

@{
    ViewData["Title"] = "Details";
}

<h1>Fine Details</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Fine_id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Fine_id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Book_id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Book_id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Card_id)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Card_id)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Taken_date)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Taken_date)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Return_date)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Return_date)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Fine_amount)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Fine_amount)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="https://thumbs.dreamstime.com/b/book-close-up-view-open-some-letters-over-d-render-32477623.jpg" style="border-radius : 10px; width: 100%; height: auto;" />
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
