@model IEnumerable<CentralLibrary.Models.Fine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Fine Payment</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Book_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Card_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taken_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Return_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fine_amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Book_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taken_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fine_amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Fine_id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Fine_id }, new { @class = "btn btn-primary" }) |
                <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Fine_id" onclick="return confirm('Do you really want to delete this record?')" ;>Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
